<nav id="nav-sidebar">

  <div id="nav-sidebar-list">
    <a href="" id="sidebar-home" class="nav-item" routerLink="/home"><span class='icon-field'><i class="fa fa-home"></i></span>&nbsp; Home</a>
    <a href="" id="sidebar-home" class="nav-item" routerLink="/payroll"><span class='icon-field'><i class="fa fa-money"></i></span>&nbsp; Payroll List</a>
    <a href="" id="sidebar-home" class="nav-item" routerLink="/member"><span class='icon-field'><i class="fa fa-user"></i></span>&nbsp; Employee List</a>
    <a href="" id="sidebar-home" class="nav-item" routerLink="/allowance"><span class='icon-field'><i class="fa fa-list-alt"></i></span>&nbsp; Allowance List</a>
    <a href="" id="sidebar-home" class="nav-item" routerLink="/deduction"><span class='icon-field'><i class="fa fa-usd"></i></span>&nbsp; Deduction List</a>
    <a href="" id="sidebar-home" class="nav-item" routerLink="/users"><span class='icon-field'><i class="fa fa-users"></i></span>&nbsp; Users</a>
    <a href="" id="sidebar-home" class="nav-item" routerLink="/cancel"><span class='icon-field'></span><i class="fas fa-sign-out-alt"></i>&nbsp; Logout</a>
  </div>
</nav>
